# Ignore node_modules
/node_modules

# Ignore built files
/build

# Ignore some resources
/res/images
/res/fonts
/res/downloads

# Ignore all articles
/articles

# Ignore htaccess predefined rules
/src/.htaccess