<footer>
  <div class="container">
    <div class="footer-dreiteiler">
      <div class="footer_kanzlei">
        <h3>Kanzlei</h3>
        <p>Kanzlei<br />Wissler & Protzen</p>
        <ul>
          <li>Wirtschaftsprüfer</li>
          <li>Steuerberater</li>
          <li>Rechtsanwälte</li>
        </ul>
        <p>Lange Straße 89<br />76530 Baden-Baden</p>
      </div>
      <div class="footer_erreichbarkeit">
        <h3>Erreichbarkeit</h3>
        <p>Sie erreichen uns zu folgenden Zeiten:</p>
        <p>
          <u>Montag - Donnerstag</u><br />
          08.00 Uhr - 12.30 Uhr und 14.00 Uhr - 17.00 Uhr
          <u>Freitag</u><br />
          08.00 Uhr - 12.30 Uhr und 14.00 Uhr - 16.00 Uhr
        </p>
        <p>
          Telefon <a href="tel:+49722130570">+49 (0) 72 21 - 30 57 - 0</a><br />
          Telefax <a href="tel:+497221305730">+49 (0) 72 21 - 30 57 - 30</a>
          <br />
          E-Mail
          <a href="mailto:wpg@wissler-protzen.de">wpg@wissler-protzen.de</a>
        </p>
      </div>
      <div class="footer_links">
        <h3>Links</h3>
        <p>
          <a href="/">Home</a>
        </p>
        <p>
          <a href="/partner">Partner</a> |
          <a href="/transparenz">Transparenzbericht</a>
        </p>
        <p>
          <a href="/mandanteninformationen">Mandanteninformationen</a> |
          <a href="/corona-hilfen">Corona-Hilfen</a>
        </p>
        <p>
          <a href="/karriere">Karriere</a>
        </p>
        <p>
          <a href="/kontakt">Kontakt</a>
        </p>
      </div>
    </div>
  </div>
</footer>
