<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  Kanzlei Wissler & Protzen - Wirtschaftsprüfer, Steuerberater und Rechtsanwälte
  in Baden-Baden
</title>
<meta
  name="description"
  content="Wir betreuen Unternehmen jeder Rechtsform und Größe und deren Gesellschafter sowie Freiberufler, insbesondere Ärzte. Unsere Leistungen erstrecken sich dabei von der Prüfung oder Erstellung des Jahresabschlusses über alle steuerlichen Tätigkeiten einschließlich der laufenden Buchführung bis hin zur Rechts- und Unternehmensberatung. "
/>
<!-- OpenGraph -->
<meta property="og:url" content="https://www.protzen-wissler.de/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Startseite" />
<meta property="og:description" content="Faire Vertragspartner" />
<!-- Stylesheets -->
<link rel="stylesheet" href="/res/style/fonts.css" />
<link rel="stylesheet" href="/res/style/main.css" />
<link rel="stylesheet" href="/res/style/topbar.css" />
<link rel="stylesheet" href="/res/style/navbar.css" />
<link rel="stylesheet" href="/res/style/footer.css" />
<link rel="stylesheet" href="/res/style/mobile.css" />
<!-- Logos -->
<link rel="shortcut icon" href="/res/images/logos/favicon.ico">
<link rel="manifest" href="/res/images/logos/site.webmanifest">
<meta name="msapplication-config" content="/browserconfig.xml">
<link rel="apple-touch-icon" sizes="180x180" href="/res/images/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/res/images/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/res/images/logos/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/res/images/logos/favicon-16x16.png">
<link rel="mask-icon" href="/res/images/logos/safari-pinned-tab.svg" color="#004571">
<meta name="apple-mobile-web-app-title" content="Wissler &amp; Protzen">
<meta name="application-name" content="Wissler &amp; Protzen">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="/res/images/logos/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">