<nav>
  <div class="container nav-container">
    <div class="logo">
      <a href="/">
        <img src="/res/images/Logo.jpg" alt="" srcset="" />
      </a>
    </div>
    <div class="navbuttons">
      <a href="/">
        <div class="navbutton navbutton-activate-home">Home</div>
      </a>
      <div class="navbutton navbutton-activate-kanzlei">
        Kanzlei
        <div class="nav-dropdown">
          <div class="dropdown-navbutton">
            <a href="/partner">Partner</a>
          </div>
          <div class="dropdown-navbutton">
            <a href="/transparenz">Transparenzbericht</a>
          </div>
        </div>
      </div>
      <div class="navbutton navbutton-activate-aktuelles">
        Aktuelles
        <div class="nav-dropdown">
          <div class="dropdown-navbutton">
            <a href="/mandanteninformationen">Mandanteninformationen</a>
          </div>
          <div class="dropdown-navbutton">
            <a href="/corona-hilfen">Corona-Hilfen</a>
          </div>
        </div>
      </div>
      <a href="/karriere">
        <div class="navbutton navbutton-activate-karriere">Karriere</div>
      </a>
      <a href="/kontakt">
        <div class="navbutton navbutton-activate-kontakt">Kontakt</div>
      </a>
    </div>
  </div>
</nav>
<div id="nav-spacer"></div>
