<nav>
  <div class="container nav-container">
    <div class="logo">
      <img src="/res/images/Logo.jpg" alt="" srcset="" />
    </div>
    <div class="navbuttons">
      <div href="#" class="navbutton">Home</div>
      <div href="#" class="navbutton">
        Kanzlei
        <div class="nav-dropdown">
          <div class="dropdown-navbutton">Partner</div>
          <div class="dropdown-navbutton">Transparenzbericht</div>
        </div>
      </div>
      <div href="#" class="navbutton">
        Aktuelles
        <div class="nav-dropdown">
          <div class="dropdown-navbutton">Mandanteninformationen</div>
          <div class="dropdown-navbutton">Corona-Hilfen</div>
        </div>
      </div>
      <div href="#" class="navbutton">Karriere</div>
      <div href="#" class="navbutton">Kontakt</div>
    </div>
  </div>
</nav>
<div id="nav-spacer"></div>
