<nav>
  <div class="container nav-container">
    <div class="logo">
      <a href="/">
        <img src="/res/images/Logo.jpg" alt="" srcset="" />
      </a>
    </div>
    <div class="navbuttons">
      <a href="/">
        <div class="navbutton navbutton-activate-home">Home</div>
      </a>
      <div class="navbutton navbutton-activate-kanzlei">
        Kanzlei
        <div class="nav-dropdown">
          <a href="/partner">
            <div class="dropdown-navbutton">Partner</div>
          </a>
          <a href="/transparenz">
            <div class="dropdown-navbutton">Transparenzbericht</div>
          </a>
        </div>
      </div>
      <div class="navbutton navbutton-activate-aktuelles">
        Aktuelles
        <div class="nav-dropdown">
          <a href="/mandanteninformationen">
            <div class="dropdown-navbutton">Mandanteninformationen</div>
          </a>
          <a href="/corona-hilfen">
            <div class="dropdown-navbutton">Corona-Hilfen</div>
          </a>
        </div>
      </div>
      <a href="/karriere">
        <div class="navbutton navbutton-activate-karriere">Karriere</div>
      </a>
      <a href="/kontakt">
        <div class="navbutton navbutton-activate-kontakt">Kontakt</div>
      </a>
    </div>
  </div>
</nav>
<div id="nav-spacer"></div>
