:root {
    /* Colors */
    --primary-color: #004571;
    --secondary-color: #f36639;
    /* Other stuff */
    --container-width: 1140px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}